<div class="text-center login-branch">
	<!-- if non user then to create a recipe the user should register -->
  To create a new recipe you have to 
  <%= link_to 'Login', 
              login_path, 
              class: 'login-button login-button-branch' %>
</div>
