<div class="new-post-button-parent">
  <span>Cannot find recipe? Try to: </span>
  <%= link_to "Create a new Recipe", 
              new_post_path(branch: branch), 
              :class => "new-post-button" %>
</div>
