<li id="vegetarian">
  <%= link_to vegetarian_posts_path do %>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Find a vegetarian buddy
  <% end %>
</li>

<li id="non_vegetarian">
  <%= link_to non_vegetarian_posts_path do %>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Find a non_vegetarian buddy
  <% end %>
</li>

<li id="vegan">
  <%= link_to vegan_posts_path do %>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Find a vegan buddy
  <% end %>
</li>