<div class="col-sm-3 single-post-card" id=<%= post_path(post.id) %>>
  <!-- home page where the posted recipes are shown with title name -->
  <div class="card">
    <div class="card-block">
      <h4 class="post-text">
        <%= truncate(post.title, :length => 60) %>
      </h4>
      <div class="post-content">
        <div class="posted-by">Posted by <%= post.user.name %></div>
        <p><%= post.content %></p>
        <!--< %= link_to "I'm interested", post_path(post.id), class: 'interested' %>-->
<!--        <h2> Comments</h2>
           < %= render @post.comment %>
          <br>
       < %= render "comments/form" %> -->
      </div>
    </div>
  </div><!-- card -->
</div><!-- col-sm-3 -->