
<div class="container new-post">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
     <h1>Editing Recipe</h1>
		<%= render 'form', post: @post %>

<button type="button" class="btn btn-dark"><%= link_to 'Show', @post, :class=>"btn btn-dark"%></button>

<button type="button" class="btn btn-dark"><%= link_to 'Back', posts_path, :class =>"btn btn-dark"%></button>        <!--< %= link_to 'Go to Home Page'%>-->
    </div>
  </div>
</div>







